<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/tweets" method="post">
            <label for="handle">username</label>
            <input type="text" name="handle" value="">
            <input type="submit" name="name" value="submit">
        </form>
    </body>
</html>
