<html>
<head>
	<title></title>
</head>
<body ng-controller='mainController'>
<div ng-view></div>
<form ng-submit='login()'>
	<h1>{{landing}}</h1>
	<label>Username:
		<input type="text" ng-model='user.username'name="username" id="username" maxlength="10" required>
	</label>
	<label>Password:
		<input type="password" ng-model='user.password'name="password" id="password" maxlength="10" ng-required>
		
		<p ng-show="user.password.length >10">Password is invalid</p>
		<p ng-show="user.password.length <6">Password is invalid</p>


	</label>	
	<label>Password:
		<input type="password" ng-model='user.passwordConfirm'name="passwordConfirm" id="passwordConfirm" ng-required pw-confirm="password">

		<div class="msg-block" ng-show="user.password.$error">
			<span class="msg-error" ng-show="user.password.passwordConfirm.$error.pwmatch">
				Passwords don't match.
			</span>
		</div>

	</label>
	<input type="submit" ng-click='signup()'>
	
	<!-- <span class="signUp.length <" ng-if="userInvalid">{{ userInvalid }}</span> -->

<p ng-class="signUp2.length <= 5 ? 'invalid' : 'valid'" ng-show="signUp2.length < 6">Password is Invalid!</p>

    		<button style="color:green;" ng-show="signUp2.length > 5">
    			Sign Up!
    		</button>


</form>
</body>
</html>