<html>
<head>
	<title></title>
</head>
<body ng-controller='mainController'>
<form>
	<h1>{{landing}}</h1>
	<label>Username
		<input type="text" ng-model='user.username'name="username" id="username" required>
	</label>
	<label>Password:
		<input type="password" ng-model='user.password'name="password" id="password" required>
	</label>	
	<label>Password:
		<input type="password" ng-model='user.passwordConfirm'name="passwordConfirm" id="passwordConfirm" required>
	</label>
	<input type="submit" ng-click='signup()'>
</form>
</body>
</html>